@import '../../style/common.less';

.picker-columns{
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.picker-column{
  flex: 1;
}
.picker-column__message{
  height: @picker-item-height;
  line-height: @picker-item-height;
  text-align: center;
}
.picker-frame{
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: @picker-item-height;
  border-top: @picker-border-line;
  border-bottom: @picker-border-line;
}
.pick-mask{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  pointer-events:none;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4)),linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4));
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: 100% 110px;
  background-position: top, bottom;
}